*{
    box-sizing: border-box;  
}
body{
    margin: 0;
    padding: 0;
}
.toolbar{
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}
.toolbar > *{
    margin-left: 4rem;
    border-radius: 2px;
}
.pColor{
    height: 3.5rem;
    width: 16rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actionBtn{
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
}
    .actionBtn >*{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #d1d8e0;
    }
    .addBtn:hover{
        background-color: #485460;
    }
    .removeBtn:hover{
        background-color: #485460;
    }
.removeHoverClass{
    background-color: #485460;
}
   
.color{
    height: 1.5rem;
    width: 2.5rem;
    background-color: lightblue;
    border-radius: 2px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.newModal{
    height: 50vh;
    width: 45vw;
    background-color: aqua;
    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 22.5vw);
    display: none; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} 
.textArea{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: #d2dae2;
    resize: none;
    font-size: 1.5rem;
    padding: 2rem;
}
.modalPriorityColor{
    height: 100%;
    width: 25%;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.modalPrColor{
    height: 10%;
    width: 60%;
    border-radius: 2px;
}

.border{
    border: 5px solid #d1d8e0;
}

.ticket{
    height: 14rem;
    width: 16rem;
    background-color: #f1f2f6;
}
.ticketColor{
    height: 1rem;
    /* background-color: aquamarine; */
}
.ticketId{
    height: 2rem;
    /* background-color: antiquewhite; */
    padding: 0.4rem;
}
.taskArea{
    height: calc(100% - 3rem - 2rem);
    /* background-color: salmon; */
    padding: 0.4rem;
    outline: none;
}
.ticketLock{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-right: .5rem;
    color: #a5b1c2;
}
.mainArea{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
}
.demo{
    height: 14rem;
    width: 20rem;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    font-family: cursive;
}

@media  screen and (min-width: 321px) and (max-width: 768px) {
    .newModal{
        width: 60vw;
        left: calc((100vw - 60vw)/2);
    }
}
@media screen and(max-width: 321px) {
    .newModal{
        width: 40vw;
        height: 35vh;
        top: calc((100vh - 40vh)/2);
        left: calc((100vw - 75vw)/2);
        flex-direction: column;
        
     }
    .textArea{
        width: 15rem;
        height: 15rem;
    }
    .modalPriorityColor{
        flex-direction: row;
        width: 2rem;
        height: 100%;
    }
    .modalPrColor{
        width: 17%;
    }
    .toolbar >*{
        margin-left: 2rem;
        border-radius: 2px;
    } 
    
}

